---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Presenter'
    value: page.presenter
  - label: 'Affiliation'
    value: page.association
  - label: 'Date of Presentation'
    value: page.presentation_date
  - label: 'Vessel Name'
    value: page.ship_name
  - label: 'Official Number'
    value: page.official_number
  - label: 'Year'
    value: page.ship_date
  - label: 'Holding Archive'
    value: page.archive
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
  - label: 'Abbreviations'
    value: page.abbreviations
---
